* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Body*/
body {
    font-size: 100%;
    background-color: #5c524a;
    background-size: auto;
}
/*Botão home*/
.button-home {
    border:rgb(26,26,26);
    background: rgb(43,43,43);
    border-radius: 50%;
    height: 50px;
}

.button-home:hover{
    height: 60px;
}

/*Header*/
.header {
    background-color: rgb(43,43,43);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 2px;
    position: sticky;
    margin-top: 10px sticky;
    border-bottom: 0.4px solid #FFF2E7;
    
}

/* Header menu */
.header-menu {
    display: flex;
    gap: 32px;
    
}

/* Header menu itens*/
.header-menu-item {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.header-menu-item:hover {
    color: rgb(19, 199, 190);
    text-decoration: underline rgb(19, 199, 190);
}

/* Conteudos */
.conteudo {
    margin-bottom: 48px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* Sem borda no topo */
#conteudo-mapa{
    border-top: none;
}

/* Conteudo escrito */
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: center;
    margin-bottom: 1em;
    padding: 5%;
    padding-top:2%;
}
/* Conteudo banner index */
#banner-index{
    width: 1000px;
    border-radius: 10px;
    margin-top: 30px;  
    align-self: center;
}
/* Conteudo principal titulo */
.conteudo-principal-titulo{
    color:rgb(19, 199, 190);
    font-weight: 400;
    font-size: 55px;
}
/* Conteudo principal faleConosco.html */
#conteudo-principal-fac{
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: space-around;
}

/* Conteudo escrito faleConosco.html */
#conteudo-escrito-fac{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 200px;

}

/* Conteudo principal titulo faleConosco.html*/
#conteudo-principal-fac-titulo {
    color:rgb(19, 199, 190);
    font-weight: 400;
    font-size: 30px;
    margin-right: 40px;
    margin-top: 40px;
}
/* Titulo da mensagem do dia do advogado trabalhista */
#titulo-msg-fac{
    align-self: center;
    padding-top: 100px ;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 30px;
    color: rgb(19, 199, 190);
}
/* Mensagem do dia do advogado trabalhista */
#msg-fac{
    align-self: center;
    font-size: 20px;
    padding-top: 10px ;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
}
/* titulos que ficam no centro */
#titulo-centro{
    align-self: center;
}
/* subtitulos */
#subtitulo{
    align-self: start;
    font-size:30px;
}
/* titulo secundario index */
#titulo-index2{
    align-self: center;
    font-size: 40px;
    padding-bottom: 2%;
    padding-top: 2%;
}
/* titulo mapa */
#titulo-mapa{
    align-self: center;
    padding-top: 10px;
    padding-bottom: 2%;
} 
/* Conteudo principal paragrafos */
.conteudo-principal-paragrafo{
    color: white;
    font-size: 20px;
    align-self: center;
}

#paragrafo-botao-index{
    align-self: center;
    font-size: 25px;
    padding-top: 5%;
    color:white;
}
/*Botões gerais */
.botao{
    background-color: rgb(32, 255, 244);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 20px;
    color: #2F2325;
}

.botao:hover{
    background: rgb(19, 199, 190);
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
    color: #ffff;
}
/* Botão que tem no index e no mapa */
#botao-index-mapa{
    margin-bottom: 20%;
}
/* botao sobre */
#botao-sobre{
    padding-top: 5%;
    align-self: center;
}
/* paragrafo acima do copo */
#paragrafo-mapa{
    align-self: center;
}
/* mapa */
#mapa-mapa{
    align-self: center;
}

/*Conteudo imagem geral*/
.conteudo-imagem{
    border-radius: 20px;
}

/*video-imagens*/
.imagens{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content:right;
    margin:10px;
    gap: 10px;
    border-radius: 20px;
}

/*Campo onde estão as labels*/
.campo{
    margin-bottom: 1em;
}

/*Custom das labels */
.campo label{
    margin-bottom: 0.2em;
    color:white;
    display:block;
}

/* Custom textarea */
.campo textarea{
    padding: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
    border-width: 1px;
    border-style:solid ;
}

/* Custom inputs */
.campo input[type="text"],.campo input[type="email"]{
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

/* Custom inputs,textarea e buttons letras */
input,textarea,button{
    font-size: 1em;
    color:black;
    border-radius:5px;
}
/* imagem sobre*/
#img-sobre{
    align-self: center;
    width:560px;
    height:315px; 
}
/* imagem faleConosco */
#img-fac{
    align-self: center;
    width:560px;
    height:315px;   
    margin-top: 100px;
}
/* imagem mapa */
#img-mapa{
    align-self: center;
    width:600px;
    height:355px; 
}

ul{
    padding-left:3%;
    font-size: 20px;
    color:white;
}
ol{
    padding-left:3%;
    font-size: 20px;
    color:white;
}

li{
    padding-bottom:20px;
}
/* imagem home */
#img-home{
    position: absolute;
    border-radius: 50%;
    height: 50px;
    top: 12px;
    
}
#img-home:hover{
    height: 53px;
}
/*Video sobre.html */
#video{
    align-self: center;
    border-radius: 20px;
}
/* Footer */
.footer {   
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-top: 0.4px solid #FFF2E7;
    background-color: rgb(43,43,43);
    position: sticky;
    padding-top:3%;
    padding-bottom: 3%;
}
/* Footer items  */
.footer-item {
    background-color: rgb(60,60,60);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 20px;
    color: rgb(19,199, 190);
    align-self: center;
    padding:12px;
    padding-top:8px;
    padding-left:18px;
    justify-content: center;
}
.footer-item:hover {
    background-color: rgb(19, 199, 190);
    color:black;
}
 
/* gif sobre */
#gif{
    align-self: center;
    width: 560px;
    height: 315px;
    border-radius: 10px;
}
#sh{
    width: 1px;
    height: 1px;
    margin-top: 70px;
}
/* paragrafos q contem ul/ol >li */
#paragrafo_lista{
    padding-top: 3%;
    align-self:flex-start;
    font-size: 25px;
}